extends ../layouts/base

block variables
  - pageTitle = 'Malachi Vaughn - Computational Mathematician'
  - pageDescription = 'Personal portfolio of Malachi Vaughn, Computational Mathematical Sciences student at Barrett, the Honors College'
  - pageKeywords = 'Malachi Vaughn, Computational Mathematics, Research, ASU, Barrett Honors College'

block body-content
  // $Page header
  header.page-header
    .page-header__inner
      // $Page navigation
      nav.page-nav
        a.page-nav__link(href='#home') Home
        a.page-nav__link(href='#research') Research
        a.page-nav__link(href='#projects') Personal Projects
        a.page-nav__link(href='#documents') Documents
        a.page-nav__link(href='#hobbies') Hobbies
        a.page-nav__link(href='#contact') Contact
        a.page-nav__link(href='#links') Links

  // $Hero Section
  section#home.hero
    .hero__inner
      .hero__content
        .hero__image
          img(src='static/images/malachi_profile.jpg', alt='Malachi Vaughn')
        .hero__text
          h1 Malachi Vaughn
          h2 Computational Mathematical Sciences
          p Undergraduate Researcher | Mathematical Modeler | Data Scientist
          
          .hero__cta
            a.btn.btn-primary(href='#research') View Research
            a.btn.btn-secondary(href='#contact') Contact Me

  // $Research Section
  section#research.research
    .research__inner
      h2 Research Experience
      .research__grid
        each project in researchProjects
          .research__item
            h3= project.title
            p= project.description
            a.btn.btn-small(href=project.link) Learn More

  // $Projects Section
  section#projects.projects
    .projects__inner
      h2 Personal Projects
      .projects__grid
        each project in personalProjects
          .projects__item
            h3= project.title
            p= project.description
            a.btn.btn-small(href=project.link) View Project

  // $Documents Section
  section#documents.documents
    .documents__inner
      h2 Documents
      .documents__list
        each doc in documents
          .documents__item
            h3= doc.title
            a.btn.btn-download(href=doc.link) Download

  // $Hobbies Section
  section#hobbies.hobbies
    .hobbies__inner
      h2 Hobbies & Misc
      .hobbies__grid
        each hobby in hobbies
          .hobbies__item
            img(src=hobby.icon, alt=hobby.name)
            h3= hobby.name

  // $Contact Section
  section#contact.contact
    .contact__inner
      h2 Contact Me
      form.contact__form
        input(type='text', placeholder='Your Name', required)
        input(type='email', placeholder='Your Email', required)
        textarea(placeholder='Your Message', required)
        button.btn.btn-primary(type='submit') Send Message

  // $Links Section
  section#links.links
    .links__inner
      h2 External Links
      .links__social
        a.link-github(href='https://github.com/yourusername') GitHub
        a.link-linkedin(href='https://linkedin.com/in/malachi-vaughn') LinkedIn
        a.link-email(href='mailto:malachi.vaughn@protonmail.com') Email

  // $Page footer
  footer.page-footer
    .page-footer__inner

      .page-footer__copyright
        | Copyright 2023 Malachi Vaughn
        br
        | All rights reserved.

      // $Social
      .social
        span.social__title Follow me:
        ul.social__list
          li.social__item: a.social__link.social__link_fb(href='#', title='Facebook') Facebook
          li.social__item: a.social__link.social__link_tw(href='#', title='Twitter') Twitter
          li.social__item: a.social__link.social__link_gplus(href='#', title='Google+') Google+
          li.social__item: a.social__link.social__link_in(href='#', title='Linkedin') Linkedin
          li.social__item: a.social__link.social__link_rss(href='#', title='Rss feed') Rss feed
          li.social__item: a.social__link.social__link_fl(href='#', title='Flickr') Flickr
          li.social__item: a.social__link.social__link_you(href='#', title='YouTube') YouTube
